@-webkit-keyframes shine {
    100% {
      left: 125%; } }
  
  @keyframes shine {
    100% {
      left: 125%; } }
@-webkit-keyframes circle1-scale {
    from {
        transform: scale(.1);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes circle1-scale {
    from {
        transform: scale(.1);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes circle2-scale {
    from {
        transform: scale(.1);
        opacity: 1;
    }
    to {
        transform: scale(.85);
        opacity: 0;
    }
}
@keyframes circle2-scale {
    from {
        transform: scale(.1);
        opacity: 1;
    }
    to {
        transform: scale(.85);
        opacity: 0;
    }
}