.about-us {
    .title {
        @include text(Circe, 48px, 1.083, 700, rgb(0, 0, 0));
        text-align: center;
        margin-bottom: 0;
    }
    .description {
        border-style: solid;
        border-width: 8px;
        border-color: rgb(255, 255, 255);
        border-radius: 9px;
        background-color: rgb(251, 252, 252);
        box-shadow: 0px 14px 30.45px 4.55px rgba(221, 223, 225, 0.51);
        padding: 30px 60px;
        p {
            @include text(Circe, 16px, 1.5, 400, rgb(0, 0, 0));
        }
    }
}