// body, html {
//     overflow-x: hidden;
// }
.advantages {
    .our-advantages {
        .title {
            @include text(Circe, 48px, 1.083, 700, rgb(0, 0, 0));
            text-align: center;
            margin-bottom: 0;
        }
        .description {
            border-radius: 25px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 9px 18px 0px rgba(135, 138, 141, 0.21);
            padding: 3rem 4rem;
            h1 {
                font-size: 14pt;
                text-align: center;
                font-family: "Circe";
                font-weight: bolder;
            }
            * {
                font-family: "Circe" !important;
                // font-weight: bolder;
            }
            ul {
                @include flex(column, wrap, stretch, space-between);
                list-style: none;
                margin: 0;
                padding: 3rem 4rem;
                li {
                    @include text(Circe, 21px, 1.5, 700, rgb(0, 0, 0));
                    @include flex(row, nowrap, center, flex-start);
                    margin-bottom: 0.75rem;
                    img {
                        margin-right: 1.5rem;
                        max-width: 91px;
                        max-height: 91px;
                    }
                }
            }
        }
    }
}
