.brochures {
  .title {
    @include text(Circe, 48px, 1.083, 700, rgb(0, 0, 0));
    text-align: center;
  }
  .brochure-link {
    display: contents;
    text-decoration: none;
  }
  .brochure {
    @include flex(column, nowrap, center, center);
    border-radius: 10px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 9px 70px 0px rgba(135, 138, 141, 0.25);
    min-height: 293px;
    padding: 30px 47px;
    transition: all 0.2s linear;
    &:hover {
      transform: scale(1.01);
      box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2),
      0 1px 15px 0 rgba(0, 0, 0, 0.19);
    }
    figure {
      @include flex(column, nowrap, center, center);
      border-radius: 50%;
      background-color: rgb(242, 248, 253);
      width: 151px;
      height: 151px;
      img {
        width: auto;
      }
    }
    .description {
      @include text(Circe, 21px, 1.429, 700, rgb(0, 0, 0));
      margin-bottom: 0;
      text-align: center;
    }
  }
}