.docs {
    .civil-law {
        .title {
            @include text(Circe, 48px, 1.083, 700, rgb(0, 0, 0));
            text-align: center;
            margin-bottom: 0;
        }
        .description {
            border-style: solid;
            border-width: 8px;
            border-color: rgb(255, 255, 255);
            border-radius: 7px;
            background-color: rgb(251, 252, 252);
            box-shadow: 0px 14px 30.45px 4.55px rgba(221, 223, 225, 0.51);
            padding: 30px 60px;
            * {
                font-family: "Circe" !important;
                // font-weight: bolder;
            }
            ol {
                list-style: none;
                margin: 0;
                padding: 3rem 4rem;
                li {
                    position: relative;
                    &:before {
                        @include text(Circe, 16px, 1.5, 500, rgb(0, 0, 0));
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        content: attr(data-count);
                        position: absolute;
                        left: 0;
                        background-color: #f7ba6c;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                    }
                    p {
                        @include text(Circe, 16px, 1.5, 500, rgb(0, 0, 0));
                        text-indent: 30px;
                    }
                }
            }
        }
    }
    .labor-law {
        .title {
            @include text(Circe, 48px, 1.083, 700, rgb(255, 255, 255));
            text-align: center;
            background-image: url("../images/federal-bench.png");
            background-repeat: no-repeat;
            padding: 3.5rem 0;
            background-size: cover;
            margin-bottom: 0;
        }
        .description {
            ol {
                li {
                    @include text(Circe, 18px, 1.667, 700, rgb(0, 0, 0));
                    p {
                        @include text(Circe, 18px, 1.667, 500, rgb(0, 0, 0));
                    }
                }
            }
        }
    }
    .constituent-documents {
        .title {
            @include text(Circe, 48px, 1.083, 700, rgb(255, 255, 255));
            text-align: center;
            background-image: url("../images/federal-bench.png");
            background-repeat: no-repeat;
            padding: 3.5rem 0;
            background-size: cover;
            margin-bottom: 0;
        }
        .description {
            border-style: solid;
            border-width: 8px;
            border-color: rgb(255, 255, 255);
            border-radius: 7px;
            background-color: rgb(251, 252, 252);
            box-shadow: 0px 14px 30.45px 4.55px rgba(221, 223, 225, 0.51);
            ol {
                list-style: none;
                margin: 0;
                padding: 3rem 4rem;
                li {
                    position: relative;
                    &:before {
                        @include text(Circe, 16px, 1.5, 500, rgb(0, 0, 0));
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        content: attr(data-count);
                        position: absolute;
                        left: 0;
                        background-color: #f7ba6c;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                    }
                    p {
                        @include text(Circe, 16px, 1.5, 500, rgb(0, 0, 0));
                        text-indent: 30px;
                    }
                }
            }
        }
    }
    .get-service {
        .title {
            text-indent: 5rem;
            @include text(Circe, 48px, 1.083, 700, rgb(255, 255, 255));
            background-image: url("../images/federal-bench.png");
            background-repeat: no-repeat;
            padding: 3.5rem 0;
            background-size: cover;
            margin-bottom: 0;
            position: relative;
            &:after {
                content: url("../images/stamp.png");
                position: absolute;
                right: 0;
                bottom: 25%;
            }
        }
        .description {
            ol {
                margin-bottom: 2.5rem;
                li {
                    @include text(Circe, 18px, 1.667, 700, rgb(0, 0, 0));
                    p {
                        @include text(Circe, 18px, 1.667, 500, rgb(0, 0, 0));
                    }
                }
            }
            .buy {
                @include flex(row, wrap, center, center);
                text-decoration: none;
                @include text(Circe, 12px, 3, 500, rgb(37, 37, 45));
                text-transform: uppercase;
                border-radius: 10px;
                background-color: rgb(247, 186, 108);
                width: 218px;
                height: 52px;
            }
        }
    }
}
