@keyframes translateAnchor {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0);
    }
}
.anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 50%;
    bottom: 5%;
    font-size: 42px;
    color: #fff;
    transition: all 0.4s ease;
    animation: translateAnchor 1s infinite alternate;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}
.star-rating {
    font-size: 0;
}
.star-rating__wrap {
    display: inline-block;
    font-size: 1rem;
}
.star-rating__wrap:after {
    content: "";
    display: table;
    clear: both;
}
.star-rating__ico {
    float: right;
    padding-left: 2px;
    cursor: default;
    color: #0094c6;
    font-size: 15px;
}
.star-rating__ico:last-child {
    padding-left: 0;
}
.star-rating__input {
    display: none;
}
// .star-rating__ico:hover:before,
// .star-rating__ico:hover ~ .star-rating__ico:before,
// .star-rating__input:checked ~ .star-rating__ico:before
// {
//     font-family: 'Font Awesome 5 Duotone';
// 	content: "\f005";
// }
.slider-wrapper {
    position: relative;
    .prev-btn,
    .next-btn {
        cursor: pointer;
        color: #fff;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        width: 69px;
        height: 69px;
        position: relative;
        z-index: 1;
        @include flex(row, nowrap, center, center);
        cursor: pointer;
        @media (max-width: 992px) {
            display: none;
        }
    }
}
.slider-wrapper .over {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
}
.slider-wrapper .request-block {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 9px 18px 0px rgba(135, 138, 141, 0.21);
    width: 100%;
    min-height: 370px;
    padding: 30px 20px 25px 20px;
    position: relative;
    z-index: 1;
    &:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 9px 18px 0px rgba(135, 138, 141, 0.21);
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        height: 2.6%;
    }
    &:after {
        content: "";
        position: absolute;
        top: 102.6%;
        left: 0;
        right: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 9px 18px 0px rgba(135, 138, 141, 0.21);
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        height: 2.6%;
    }
    .comment {
        position: absolute;
        bottom: 90%;
        right: 5%;
    }
    .title {
        @include text(Circe, 20px, 1.2, 700, rgb(21, 21, 21));
        margin-bottom: 0;
        span {
            color: rgb(68, 178, 215);
        }
    }
    .description {
        @include text(Circe, 14px, 1.2, 700, rgb(174, 182, 190));
        margin-bottom: 0;
    }
    .send-request {
        .form-group {
            margin-top: 1.5rem;
            input {
                @include text(Circe, 18px, 3.333, 700, rgba(21, 21, 21, 0.502));
                border-radius: 10px;
                border: none;
                background-color: rgb(241, 247, 252);
                box-shadow: inset 0px 1px 6px 0px rgba(154, 169, 185, 0.35);
                height: 55px;
                width: 100%;
                padding: 0 1rem;
                &::-webkit-input-placeholder {
                    text-align: center;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    text-align: center;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    text-align: center;
                }
                &:-ms-input-placeholder {
                    text-align: center;
                }
            }
            .send {
                @include text(Circe, 12px, 3, 700, rgb(37, 37, 45));
                text-transform: uppercase;
                border-radius: 10px;
                border: none;
                background-color: rgb(247, 186, 108);
                box-shadow: 0px 4px 0px 0px rgb(186, 158, 120);
                width: 100%;
                height: 52px;
                position: relative;
                overflow: hidden;
                &:hover:before {
                    -webkit-animation: shine 0.75s;
                    animation: shine 0.75s;
                }
                &:before {
                    position: absolute;
                    top: 0;
                    left: -75%;
                    z-index: 2;
                    display: block;
                    content: "";
                    width: 50%;
                    height: 100%;
                    background: -webkit-linear-gradient(
                        left,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(255, 255, 255, 0.3) 100%
                    );
                    background: linear-gradient(
                        to right,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(255, 255, 255, 0.3) 100%
                    );
                    -webkit-transform: skewX(-25deg);
                    transform: skewX(-25deg);
                }
            }
        }
    }
}
.main-slider {
    margin-bottom: 0;
    position: relative;
    &:before {
        content: url("../images/flower.png");
        position: absolute;
        top: 80%;
        left: 0;
        z-index: 1;
        pointer-events: none;
    }
    .slick-dots {
        width: auto;
        bottom: 20px;
        li {
            button {
                border-radius: 50%;
                background-color: rgba(248, 194, 125, 0.451);
                width: 16px;
                height: 16px;
                &:before {
                    content: "";
                }
            }
            &.slick-active {
                button {
                    border-style: solid;
                    border-width: 2px;
                    border-color: rgb(248, 198, 133);
                    background-color: rgba(0, 0, 0, 0);
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .item {
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        .title {
            @include text(Circe, 36px, 1.333, 700, rgb(255, 255, 255));
            margin-bottom: 2.5rem;
        }
        .description {
            @include text(Circe, 18px, 1.333, 400, rgb(255, 255, 255));
            margin-bottom: 1.5rem;
        }
        .check-details {
            @include flex(row, wrap, center, center);
            @include text(Circe, 12px, 3, 700, rgb(37, 37, 45));
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 10px;
            background-color: rgb(247, 186, 108);
            box-shadow: 0px 4px 0px 0px rgb(186, 158, 120);
            width: 274px;
            height: 72px;
            position: relative;
            overflow: hidden;
            &:hover:before {
                -webkit-animation: shine 0.75s;
                animation: shine 0.75s;
            }
            &:before {
                position: absolute;
                top: 0;
                left: -75%;
                z-index: 2;
                display: block;
                content: "";
                width: 50%;
                height: 100%;
                background: -webkit-linear-gradient(
                    left,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 0.3) 100%
                );
                background: linear-gradient(
                    to right,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 0.3) 100%
                );
                -webkit-transform: skewX(-25deg);
                transform: skewX(-25deg);
            }
        }
    }
}
.video {
    position: relative;
    &:before {
        content: url("../images/stamp.png");
        position: absolute;
        bottom: 85%;
        right: 0;
        z-index: 1000;
    }
    .video-wrapper {
        position: relative;
        max-width: 1026px;
        max-height: 578px;
        width: 100%;
        height: 100%;
        figcaption {
            @include text(Circe, 36px, 1.333, 700, rgb(0, 0, 0));
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 4px 18px 0px rgba(135, 138, 141, 0.21);
            max-width: 338px;
            height: 146px;
            position: absolute;
            top: 10%;
            padding: 20px;
            transition: all 0.2s ease-out;
            &:before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: rgba(255, 255, 255, 0.9);
                box-shadow: 0px 9px 18px 0px rgba(135, 138, 141, 0.21);
                width: 90%;
                margin-right: auto;
                margin-left: auto;
                height: 5.6%;
            }
            &:after {
                content: "";
                position: absolute;
                top: 105.6%;
                left: 0;
                right: 0;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: rgba(255, 255, 255, 0.9);
                box-shadow: 0px 9px 18px 0px rgba(135, 138, 141, 0.21);
                width: 80%;
                margin-right: auto;
                margin-left: auto;
                height: 5.6%;
            }
            span {
                color: #f2b15f;
            }
        }
        .fluid-width-video-wrapper {
            width: 100%;
            position: absolute;
            top: 7px;
            left: 39px;
            padding: 0 !important;
            max-width: 1026px;
            max-height: 578px;
        }
        #play-btn {
            background-color: unset;
            border: unset;
            outline: none;
            transition: all 0.2s ease-out;
            &:focus,
            &:hover,
            &:active {
                outline: none;
            }
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: url("../svgs/mouse-pointer.svg") 2 2, default !important;
            .first-circle,
            .second-circle {
                border-style: solid;
                border-width: 1px;
                border-color: rgb(237, 209, 170);
                border-radius: 50%;
                opacity: 1;
                position: absolute;
                width: 164px;
                height: 164px;
                transition: all 0.2s ease-out;
            }
            .first-circle {
                animation: circle1-scale 2s infinite;
            }
            .second-circle {
                animation: circle2-scale 2s infinite;
            }
            svg {
                position: relative;
                &:before {
                    content: "hehehe";
                    position: absolute;
                    color: #fff;
                    right: 100%;
                }
                cursor: pointer;
                .fa-secondary {
                    fill: rgb(247, 186, 108);
                }
                .fa-primary {
                    fill: #fff;
                }
            }
        }
        video {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
.main {
    .services {
        .title {
            @include text(Circe, 48px, 1.083, 700, rgb(0, 0, 0));
            text-align: center;
        }
        .service-link {
            display: contents;
            text-decoration: none;
        }
        .service {
            @include flex(column, nowrap, center, center);
            border-radius: 10px;
            height: 100%;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 9px 70px 0px rgba(135, 138, 141, 0.25);
            min-height: 293px;
            padding: 30px 47px;
            transition: all 0.2s linear;
            &:hover {
                transform: scale(1.01);
                box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2),
                    0 1px 15px 0 rgba(0, 0, 0, 0.19);
            }
            figure {
                @include flex(column, nowrap, center, center);
                border-radius: 50%;
                background-color: rgb(242, 248, 253);
                width: 151px;
                height: 151px;
                img {
                    width: auto;
                }
            }
            .description {
                @include text(Circe, 21px, 1.429, 700, rgb(0, 0, 0));
                margin-bottom: 0;
                text-align: center;
            }
        }
    }
    .advantages {
        overflow-y: hidden;
        background-image: url("../images/advantages.png");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        &:after {
            content: url("../images/column.png");
            top: 39%;
            left: 39%;
            position: absolute;
        }
        .title {
            @include text(Circe, 42px, 1.083, 700, rgb(255, 255, 255));
            margin-bottom: 1rem;
        }
        .description {
            margin-bottom: 4rem;
            p {
                @include text(Circe, 18px, 1.667, 400, rgb(255, 255, 255));
                margin-bottom: 0;
            }
        }
        .reward-cards {
            @include flex(row, nowrap, stretch, space-between);
            .card-body {
                border-radius: 10px;
                background-color: rgb(31, 31, 31);
                max-width: 274px;
                position: relative;
                &:nth-child(1) {
                    &:before {
                        content: url("../images/cup.png");
                        position: absolute;
                        top: -15%;
                        right: 0;
                    }
                }
                &:nth-child(2) {
                    &:before {
                        content: url("../images/symbol.png");
                        position: absolute;
                        top: -10%;
                        right: 0;
                    }
                }
                .title {
                    @include text(
                        YesevaOne,
                        24px,
                        2.167,
                        400,
                        rgb(255, 195, 119)
                    );
                    margin-bottom: 1.25rem;
                    span {
                        display: block;
                        @include text(
                            YesevaOne,
                            80px,
                            0.65,
                            400,
                            rgb(255, 220, 175)
                        );
                    }
                }
                .description {
                    @include text(
                        YesevaOne,
                        16px,
                        1.5,
                        400,
                        rgb(255, 255, 255)
                    );
                    margin-bottom: 0;
                }
            }
        }
        .brochures-block {
            border-radius: 10px;
            background-color: white;
            box-shadow: 0px 9px 18px 0px rgba(135, 138, 141, 0.21);
            width: 100%;
            min-height: 495px;
            padding: 30px 20px 25px 20px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: rgba(255, 255, 255, 0.9);
                box-shadow: 0px 9px 18px 0px rgba(135, 138, 141, 0.21);
                width: 90%;
                margin-right: auto;
                margin-left: auto;
                height: 2.6%;
            }
            &:after {
                content: "";
                position: absolute;
                top: 102.6%;
                left: 0;
                right: 0;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: rgba(255, 255, 255, 0.9);
                box-shadow: 0px 9px 18px 0px rgba(135, 138, 141, 0.21);
                width: 80%;
                margin-right: auto;
                margin-left: auto;
                height: 2.6%;
            }
            .brochure {
                @include flex(row, nowrap, center, space-between);
                border-bottom: 1px solid rgb(239, 243, 247);
                padding: 10px 0;
                .title {
                    @include text(Circe, 15px, 1.5, 700, rgb(21, 21, 21));
                    margin-bottom: 0;
                }
                a {
                    img {
                    }
                }
            }
            .title {
                @include text(Circe, 18px, 1.333, 700, rgb(21, 21, 21));
                margin-bottom: 0.5rem;
            }
            .description {
                @include text(Circe, 14px, 1.286, 700, rgb(174, 182, 190));
                margin-bottom: 1rem;
            }
            .more {
                @include text(Circe, 10px, 3.6, 400, rgb(225, 190, 146));
                display: block;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
                margin-top: 1.5rem;
            }
        }
    }
    .reviews {
        .title {
            @include text(Circe, 48px, 1.083, 700, rgb(0, 0, 0));
            text-align: center;
        }
        .reviews-slider {
            .slick-slide {
                width: 700px;
                margin: 40px 20px;
            }
            .slick-dots {
                li {
                    button {
                        border-radius: 50%;
                        background-color: rgb(214, 227, 241);
                        width: 20px;
                        height: 19px;
                        &:before {
                            content: "";
                        }
                    }
                    &.slick-active {
                        button {
                            border-style: solid;
                            border-width: 2px;
                            border-color: rgb(221, 229, 237);
                            border-radius: 50%;
                            background-color: rgba(246, 248, 250, 0);
                            width: 25px;
                            height: 23px;
                        }
                    }
                }
            }
            .next-btn,
            .prev-btn {
                cursor: pointer;
                @include flex(row, nowrap, center, center);
                position: absolute;
                top: 50%;
                z-index: 100;
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 14px 56.55px 8.45px rgba(199, 207, 213, 0.47);
                width: 55px;
                height: 55px;
            }
            .next-btn {
                right: 5%;
            }
            .prev-btn {
                left: 5%;
            }
            .item {
                border-radius: 6px;
                background-color: rgb(255, 255, 255);
                border-style: solid;
                border-width: 8px;
                border-color: rgb(255, 255, 255);
                border-radius: 6px;
                box-shadow: 0px 14px 30.45px 4.55px rgba(221, 223, 225, 0.51);
                .avatar {
                    display: block;
                    border-radius: 50%;
                    background-color: rgb(244, 247, 249);
                    width: 84px;
                    height: 84px;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                }
                .initials {
                    @include text(Circe, 18px, 1.333, 400, rgb(46, 46, 46));
                }
                .date {
                    @include text(Circe, 16px, 1.5, 400, rgb(113, 122, 132));
                }
                .message__wrapper {
                    @include flex(column, nowrap, flex-start, space-between);
                    padding: 10px 15px;
                    border-radius: 6px;
                    background-color: rgb(251, 252, 252);
                }
                .message {
                    @include text(Circe, 16px, 1.5, 400, rgb(0, 0, 0));
                    font-weight: bolder;
                }
            }
        }
        .more {
            @include flex(row, wrap, center, center);
            text-decoration: none;
            @include text(Circe, 12px, 3, 400, rgb(37, 37, 45));
            text-transform: uppercase;
            border-radius: 10px;
            box-shadow: 0px 4px 0px 0px rgb(186, 158, 120);
            width: 100%;
            min-height: 72px;
            position: relative;
            overflow: hidden;
            background-image: -moz-linear-gradient(
                90deg,
                rgb(255, 229, 195) 0%,
                rgb(247, 186, 108) 100%
            );
            background-image: -webkit-linear-gradient(
                90deg,
                rgb(255, 229, 195) 0%,
                rgb(247, 186, 108) 100%
            );
            background-image: -ms-linear-gradient(
                90deg,
                rgb(255, 229, 195) 0%,
                rgb(247, 186, 108) 100%
            );
            &:hover:before {
                -webkit-animation: shine 0.75s;
                animation: shine 0.75s;
            }
            &:before {
                position: absolute;
                top: 0;
                left: -75%;
                z-index: 2;
                display: block;
                content: "";
                width: 50%;
                height: 100%;
                background: -webkit-linear-gradient(
                    left,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 0.3) 100%
                );
                background: linear-gradient(
                    to right,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 0.3) 100%
                );
                -webkit-transform: skewX(-25deg);
                transform: skewX(-25deg);
            }
        }
    }
}
