
@media (max-width: 576px) {
    .promotional .tab-content .promotional-codes {
        columns: 3;
    }
    .advantages .our-advantages .description ul li {
        flex-wrap: wrap;
    }
    .docs .get-service .title:after {
        content: unset;
    }
    .docs .labor-law .title, .docs .constituent-documents .title, .docs .get-service .title {
        text-indent: 0;
        text-align: center;
        font-size: 36px;
    }
    .header.banner--clone {
        .registration-btn, .authorization-btn, .callback-btn, .phone-number {
            display: none;
        }
        .row.py-4 {
            padding-bottom: 0!important;
        }
    }
    .docs .civil-law .description ol, .docs .constituent-documents .description ol {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header .registration-btn, .header .authorization-btn {
        min-width: unset;
        width: 100%;
    }
    .header .authorization-btn {
        margin-top: 1rem;
    }
    .header .phone-number, .header .callback-btn {
        white-space: pre-wrap;
    }
    .header .phone-number {
        font-size: 18px;
    }
    .header .callback-btn {
        font-size: 16px;
    }
    .main-slider:before {
        top: 90%;
    }
    .main .advantages .reward-cards .card-body:nth-child(1):before {
        top: -25%;
    }
    .main .advantages .reward-cards .card-body:nth-child(2):before {
        top: -20%;
    }
    .main .advantages .reward-cards .card-body {
        max-width: 165px;
    }
    .video .video-wrapper {
        margin: 0;
    }
    .main + .footer:before {
        content: unset;
    }
    .footer .socials-map {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .footer .socials-map li {
        margin-left: 25px;
    }
    
}
@media (min-width: 577px) and (max-width: 768px) {
    .promotional .tab-content .promotional-codes {
        columns: 4;
    }
    .main .advantages .reward-cards .card-body {
        max-width: 240px;
    }
    .main + .footer:before {
        bottom: 80%;
    }
    .footer .developed-by {
        text-align: end;
    }
    .footer .socials-map {
        align-items: flex-start;
    }
    .footer .copyright { 
        text-align: center;
    }
    .main .reviews .reviews-slider .item .initials, .main .reviews .reviews-slider .item .date {
        margin: 0;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .promotional .tab-content .promotional-codes {
        columns: 4;
    }
    .header .authorization-btn, .header .registration-btn {
        min-width: 48%;
    }
    .video .video-wrapper figcaption {
        top: 0;
    }
    .main .advantages .reward-cards .card-body {
        max-width: 188px;
    }
    .footer .socials-map {
        align-items: flex-start;
    }
}
@media (max-width: 1199px) {
    .video .video-wrapper img {
        display: none;
    }
    .video .video-wrapper .fluid-width-video-wrapper {
        position: static;
    }
}
@media (max-width: 767px) {
    .slider-wrapper .over {
        position: static;
    }
}
@media (max-width: 768px) {
    .slider-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .header {
        .hc-nav-trigger {
            position: relative;
            top: 0;
            margin-left: auto;
            span {
                background-color: #fff;
                &::before, &::after {
                    background-color: #fff;
                }
            }
        }
    }
    .header .main-nav {
        display: none;
    }
    .video .video-wrapper figcaption {
        display: none;
    }
}
@media (max-width: 992px) {
    .main-slider .item .title {
        font-size: 30px;
    }
    .promotional .codes .title {
        font-size: 30px;
    }
    .main-slider:before {
        content: unset;
    }
    .main .advantages:after {
        content: unset;
    }
    .video:before {
        content: unset;
    }
}