.promotional {
    .codes {
        padding-top: 3rem;
        .title {
            @include text(Circe, 48px, 1.083, 700, rgb(0, 0, 0));
            text-align: center;
        }
        .personal-title {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            h1 {
                font-size: 16px;
            }
        }
        .personal-info {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            p {
                font-size: 16px;
            }
        }
        .question-content {
            .question-button {
                @include flex(row, wrap, center, center);
                @include text(Circe, 12px, 3, 700, rgb(37, 37, 45));
                text-transform: uppercase;
                text-decoration: none;
                border-radius: 10px;
                background-color: rgb(247, 186, 108);
                box-shadow: 0px 4px 0px 0px rgb(186, 158, 120);
                width: fit-content;
                height: 40px;
                position: relative;
                overflow: hidden;
                margin-bottom: 20px;
                border: none;
            }
            .questions-themes {
                input {
                    width: 100%;
                    margin-bottom: 15px;
                }
            }
            .question-info {
                textarea {
                    width: 100%;
                    resize: none;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .nav {
        padding: 4rem 1rem;
        border-radius: 5px;
        background-color: rgb(18, 18, 18);
        box-shadow: 0px 14px 30.45px 4.55px rgba(221, 223, 225, 0.51);
        .nav-link {
            @include text(Circe, 16px, 1.5, 500, rgb(255, 255, 255));
            &.active {
                border-style: solid;
                border-width: 1px;
                border-color: rgb(248, 198, 133);
                border-radius: 3px;
                background-color: transparent;
            }
        }
    }
    .tab-content {
        .tab-container {
            border-style: solid;
            border-width: 8px;
            border-color: rgb(255, 255, 255);
            border-radius: 7px;
            background-color: rgb(251, 252, 252);
            box-shadow: 0px 14px 30.45px 4.55px rgba(221, 223, 225, 0.51);

            padding: 2.5rem 3.5rem;
            h2 {
                font-size: 30px;
                font-family: "Circe";
                color: rgb(18, 18, 18);
                line-height: 2;
            }
            table {
                width: 100%;
                border: 3px solid rgb(247, 186, 108);
                margin-bottom: 2.5rem;

                span {
                    font-size: 15px;
                    font-family: "Circe";
                    color: rgb(18, 18, 18);
                    line-height: 1;
                    a {
                        font-size: 15px;
                        font-family: "Circe";
                        color: rgb(186, 158, 120);
                        font-weight: bold;
                        text-decoration: underline;
                        line-height: 1.2;
                        text-transform: uppercase;
                    }
                }
            }
            th,
            td {
                border: 1px solid rgb(247, 186, 108);
                border-collapse: collapse;
                padding: 10px 20px;
                vertical-align: middle;
                max-width: 380px;
            }
            &.promotional-codes {
                columns: 5;
            }
            .code {
                @include text(Circe, 18px, 1.333, 400, rgb(0, 0, 0));
                margin-bottom: 0.5rem;
                text-align: center;
            }
        }
    }
}
.promotional-inner {
    .title {
        text-align: center;
        white-space: pre-line;
        font-size: 48px;
        font-family: "Circe";
        color: rgb(18, 18, 18);
        line-height: 1.2;
    }
    table {
        width: 100%;
        margin-bottom: 2.5rem;
        .quantity-controls {
            display: flex;
            flex: row nowrap;
            align-items: center;
            justify-content: flex-start;
            border-radius: 28px;
            width: 100%;
            height: 54px;
            overflow: hidden;
            border-width: 1px;
            border-color: #ebebeb;
            border-style: solid;
            max-width: calc(56px * 3);
            margin: auto;
            button {
                font-size: 36px;
                color: #222222;
                line-height: 1;
                background-color: #fff;
                border: none;
                width: 56px;
                height: 100%;
                outline: none;
            }
            input {
                margin: 0;
                font-size: 24px;
                font-family: "GTWalsheimPro";
                color: #222222;
                line-height: 1.5;
                width: 56px;
                height: 100%;
                border: none;
                border-left: 1px solid #ebebeb;
                border-right: 1px solid #ebebeb;
                text-align: center;
                background-color: #fff;
            }
        }
        th,
        td {
            border: 1px solid rgb(247, 186, 108);
            border-collapse: collapse;
            padding: 10px 20px;
            vertical-align: middle;
            max-width: 380px;
        }
        th {
            text-align: center;
            span {
                font-size: 24px;
                font-family: "Circe";
                color: rgb(18, 18, 18);
                line-height: 2.5;
                text-align: left;
            }
        }
        td span {
            font-size: 18px;
            font-family: "Circe";
            color: rgb(18, 18, 18);
            line-height: 2;
            display: block;
        }
        td {
            padding: 15px 20px;
            ul {
                list-style: none;
                li {
                    font-size: 18px;
                    font-family: "Circe";
                    color: rgb(18, 18, 18);
                    line-height: 1.667;
                    text-align: left;
                }
            }
            h3 {
                font-size: 24px;
                font-family: "Circe";
                color: rgb(18, 18, 18);
                font-weight: 600;
                line-height: 1.2;
            }
        }
        td:last-child,
        td:first-child {
            text-align: center;
        }
        thead,
        tbody {
            border: 3px solid rgb(247, 186, 108);
        }
    }
    .purchase {
        font-size: 18px;
        font-family: "Circe";
        color: rgb(37, 37, 45);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 2;
        border-radius: 10px;
        background-color: rgb(247, 186, 108);
        box-shadow: 0px 4px 0px 0px #ba9e78;
        width: 274px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin: auto;
        text-decoration: none;
    }
    .about-product {
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 3px 18px 0px rgba(135, 138, 141, 0.21);
        padding: 65px;
        p {
            font-size: 18px;
            font-family: "Circe";
            color: rgb(18, 18, 18);
            line-height: 1.667;
            text-align: left;
        }
    }
    .callback {
        h2 {
            font-size: 48px;
            font-family: "Circe";
            color: rgb(18, 18, 18);
            line-height: 1.2;
            text-align: center;
            margin-bottom: 2rem;
        }
        .callback-form {
            padding: 0 45px;
            input,
            textarea {
                padding: 0 20px;
                border-radius: 10px;
                background-color: rgb(241, 247, 252);
                box-shadow: inset 0px 1px 6px 0px rgba(154, 169, 185, 0.35);
                width: 100%;
                font-size: 18px;
                font-family: "Circe";
                color: rgba(18, 18, 18, 0.8);
                font-weight: bold;
                line-height: 3.333;
                text-align: left;
                resize: none;
            }
            .callback-btn {
                font-size: 18px;
                font-family: "Circe";
                color: rgb(37, 37, 45);
                font-weight: bold;
                text-transform: uppercase;
                line-height: 2;
                border-radius: 10px;
                background-color: rgb(247, 186, 108);
                box-shadow: 0px 4px 0px 0px #ba9e78;
                border: none;
                width: 274px;
                height: 72px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
        }
    }
}

.promotional-page {
    .promotional-info {
        h1 {
            font-family: Circe;
            font-size: 48px;
            line-height: 1.083;
            font-weight: 700;
            color: black;
            text-align: center;
            padding-top: 2rem;
        }
        .promotional-slider {
            width: 90%;
            margin: 0 auto;
            padding: 2rem 0;
            .prev-btn {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                left: -4%;
                z-index: 100;
                border-radius: 50%;
                background-color: white;
                box-shadow: 0px 14px 56.55px 8.45px rgba(199, 207, 213, 0.47);
                width: 55px;
                height: 55px;
            }
            .next-btn {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                right: -4%;
                z-index: 100;
                border-radius: 50%;
                background-color: white;
                box-shadow: 0px 14px 56.55px 8.45px rgba(199, 207, 213, 0.47);
                width: 55px;
                height: 55px;
            }
            .promotional-slide {
                img {
                    width: 87%;
                    height: 100%;
                    margin: 0 auto;
                }
            }
        }
    }
}
