.reviews {
  .title {
    @include text(Circe, 48px, 1.083, 700, rgb(0, 0, 0));
    text-align: center;
  }
  .reviews-slider {
    .slick-slide {
      width: 700px;
      margin: 40px 20px;
    }
    .slick-dots {
      li {
        button {
          border-radius: 50%;
          background-color: rgb(214, 227, 241);
          width: 20px;
          height: 19px;
          &:before {
            content: "";
          }
        }
        &.slick-active {
          button {
            border-style: solid;
            border-width: 2px;
            border-color: rgb(221, 229, 237);
            border-radius: 50%;
            background-color: rgba(246, 248, 250, 0);
            width: 25px;
            height: 23px;
          }
        }
      }
    }
    .next-btn,
    .prev-btn {
      cursor: pointer;
      @include flex(row, nowrap, center, center);
      position: absolute;
      top: 50%;
      z-index: 100;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 14px 56.55px 8.45px rgba(199, 207, 213, 0.47);
      width: 55px;
      height: 55px;
    }
    .next-btn {
      right: 5%;
    }
    .prev-btn {
      left: 5%;
    }
    .item {
      border-radius: 6px;
      background-color: rgb(255, 255, 255);
      border-style: solid;
      border-width: 8px;
      border-color: rgb(255, 255, 255);
      border-radius: 6px;
      box-shadow: 0px 14px 30.45px 4.55px rgba(221, 223, 225, 0.51);
      .avatar {
        display: block;
        border-radius: 50%;
        background-color: rgb(244, 247, 249);
        width: 84px;
        height: 84px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }
      .initials {
        @include text(Circe, 18px, 1.333, 400, rgb(46, 46, 46));
      }
      .date {
        @include text(Circe, 16px, 1.5, 400, rgb(113, 122, 132));
      }
      .message__wrapper {
        @include flex(column, nowrap, flex-start, space-between);
        padding: 10px 15px;
        border-radius: 6px;
        background-color: rgb(251, 252, 252);
      }
      .message {
        @include text(Circe, 16px, 1.5, 400, rgb(0, 0, 0));
        font-weight: bolder;
      }
    }
  }
  .leave-review {
    @include flex(row, wrap, center, center);
    text-decoration: none;
    @include text(Circe, 12px, 3, 400, rgb(37, 37, 45));
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px rgb(186, 158, 120);
    width: 100%;
    min-height: 72px;
    position: relative;
    overflow: hidden;
    background-image: -moz-linear-gradient(
                    90deg,
                    rgb(255, 229, 195) 0%,
                    rgb(247, 186, 108) 100%
    );
    background-image: -webkit-linear-gradient(
                    90deg,
                    rgb(255, 229, 195) 0%,
                    rgb(247, 186, 108) 100%
    );
    background-image: -ms-linear-gradient(
                    90deg,
                    rgb(255, 229, 195) 0%,
                    rgb(247, 186, 108) 100%
    );
    &:hover:before {
      -webkit-animation: shine 0.75s;
      animation: shine 0.75s;
    }
    &:before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(
                      left,
                      rgba(255, 255, 255, 0) 0%,
                      rgba(255, 255, 255, 0.3) 100%
      );
      background: linear-gradient(
                      to right,
                      rgba(255, 255, 255, 0) 0%,
                      rgba(255, 255, 255, 0.3) 100%
      );
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
    }
  }

}
.swal2-content {
  form {
    .star-rating {
      @include flex(row-reverse, nowrap, center, space-between);
      max-width: 150px;
      margin-left: auto;
      margin-right: auto;
      input {
        display: none;
      }
      .star-rating__star:hover,
      .star-rating_star:hover ~ .star-rating_star,
      input:checked ~ .star-rating__star {
        color: #0094c6;
      }
      &__star {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        font-size: 14px;
        color: rgb(228, 228, 228);
        transition: color 0.2s ease-out;
        font-weight: 800;
        padding: 0;

        &:hover {
          cursor: pointer;
        }
      }
    }
    textarea {
      padding-top: 1rem;
      font-size: 14px;
      font-family: "Circe";
      color: #323232;
      line-height: 1.2;
      width: 100%;
      position: relative;
      margin-top: 1rem;
      border-style: solid;
      border-width: 2px;
      border-color: #e3e4eb;
      border-radius: 4px;
      width: 100%;
      height: 84px;
      resize: none;
      margin-top: 0.5rem;
      color: #222222;
      padding-left: 1rem;
    }
  input[type="text"] {
    font-size: 14px;
    font-family: "Circe";
    color: #323232;
    line-height: 1.2;
    width: 100%;
    position: relative;
    margin-top: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #e3e4eb;
    border-radius: 4px;
    width: 100%;
    height: 42px;
    margin-top: 0.5rem;
    color: #222222;
    padding-left: 1rem;
  }
  }
}