.swal2-content {
    padding: 1.5rem 0;
    label {
        @include text(Circe, 18px, 1.333, 700, rgb(0, 0, 0));
        @include flex(row, wrap, center, space-between);          
        padding: 0 2rem;
        input {
            @include text(Circe, 18px, 1.333, 700, rgb(0, 0, 0));
            border-radius: 10px;
            background-color: rgb(241, 247, 252);
            box-shadow: inset 0px 1px 6px 0px rgba(154, 169, 185, 0.35);
            max-width: 219px;
            min-height: 55px;
            margin: 0;
        }
    }
}
.swal2-header {
    .swal2-title {
        @include text(Circe, 20px, 1.2, 700, rgb(21, 21, 21));
    }
}
.swal2-modal {
    border-radius: 15px!important;
    background-color: rgb(255, 255, 255)!important;
    box-shadow: 0px 9px 18px 0px rgba(135, 138, 141, 0.21);
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 9px 18px 0px rgba(135, 138, 141, 0.21);
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        height: 2.6%;
    }
    &:after {
        content: '';
        position: absolute;
        top: 102.6%;
        left: 0;
        right: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 9px 18px 0px rgba(135, 138, 141, 0.21);
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        height: 2.6%;
    }
}
.swal2-actions {
    .swal2-styled.swal2-confirm {
        @include text(Circe, 20px, 1, 500, rgb(37, 37, 45));
        text-transform: uppercase;
        border-radius: 10px;
        background-color: rgb(247, 186, 108);
        max-width: 218px;
        min-height: 52px;
        box-shadow: unset;
        transition: all .3s ease;
        &:hover, &:focus, &:active {
            box-shadow: unset;
        }
    }
}