.main + .footer {
    // background-image: url('../images/tree.png');
    // background-repeat: no-repeat;
    // background-position: 95% 50%;
    margin-top: 3rem;
}
.about + .footer,
.advantages + .footer,
.promotional + .footer,
.promotional-inner + .footer {
    margin-top: 10rem;
}
.footer {
    background-color: rgb(13, 13, 13);
    position: relative;
    &:before {
        content: url("../images/flower.png");
        right: 0;
        position: absolute;
        bottom: 50%;
        transform: scaleX(-1);
    }
    .logo {
        img {
            width: auto;
            max-width: 177px;
            max-height: 89px;
        }
    }
    .map {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            a {
                @include text(Circe, 15px, 1.875, 400, rgb(255, 255, 255));
                display: inline-block;
                overflow: hidden;
                text-decoration: none;
                position: relative;
                white-space: nowrap;
                &:before {
                    content: "";
                    right: 0;
                    bottom: 0;
                    background: #fff;
                    position: absolute;
                    transition: transform 0.35s ease;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    transform: translateX(-100%);
                }
                &:hover:before {
                    transform: translateX(0);
                }
            }
        }
    }
    .phone-number {
        @include text(Circe, 30px, 0.8, 700, rgb(255, 255, 255));
        text-decoration: none;
    }
    .e-mail {
        @include text(Circe, 16px, 1.5, 400, rgb(255, 217, 169));
        text-decoration: none;
        position: relative;
        &:before {
            font-family: "Font Awesome 5 Pro";
            content: "\f0e0";
            position: absolute;
            right: 110%;
            top: 0;
        }
    }
    .address {
        @include text(Circe, 16px, 1.875, 700, rgb(255, 255, 255));
        span {
            display: block;
            font-weight: 400;
        }
    }
    .copyright {
        @include text(Circe, 15px, 1.5, 400, rgb(255, 255, 255));
    }
    .socials-title {
        @include text(Circe, 15px, 1.5, 400, rgb(255, 255, 255));
    }
    .socials-map {
        @include flex(row, wrap, flex-start, flex-start);
        margin: 0;
        height: 100%;
        padding: 0;
        list-style: none;
        li {
            margin-left: 40px;
            &:first-child {
                margin-left: 0;
            }
            a {
                i {
                    font-size: 20px;
                    color: rgb(255, 217, 169);
                }
            }
        }
    }
    .developed-by {
        @include text(Circe, 16px, 1.5, 400, rgb(255, 255, 255));
        img {
            width: auto;
            max-width: 74px;
            max-height: 20px;
        }
    }
}
#footer-modal {
    .modal-dialog {
        max-width: 458px;
        .modal-body {
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 9px 18px 0px rgba(135, 138, 141, 0.21);
            padding: 1rem 2rem;
        }
    }
    .tab-content {
        margin-top: 2rem;
    }
    .form-group {
        p {
            font-size: 16px;
            font-family: "Circe";
            color: #121212;
            font-weight: 600;
            line-height: 3.75;
            text-align: left;
            border-bottom: 1px solid #ba9e78;
            a {
                text-decoration: none;
            }
        }
        label {
            @include flex(row, wrap, center, space-between);
            margin-bottom: 0;
            span {
                font-size: 16px;
                font-family: "Circe";
                color: rgb(18, 18, 18);
                font-weight: 600;
                line-height: 3.75;
                text-align: left;
            }
            input {
                font-size: 16px;
                font-family: "Circe";
                color: rgb(18, 18, 18);
                line-height: 3.75;
                text-align: left;
                padding: 0 1rem;
                border-radius: 10px;
                background-color: rgb(241, 247, 252);
                box-shadow: inset 0px 1px 6px 0px rgba(154, 169, 185, 0.35);
                max-width: 250px;
                width: 100%;
                height: 55px;
            }
            textarea {
                font-size: 16px;
                font-family: "Circe";
                color: rgb(18, 18, 18);
                line-height: 3.75;
                text-align: left;
                padding: 0 1rem;
                border-radius: 10px;
                background-color: rgb(241, 247, 252);
                box-shadow: inset 0px 1px 6px 0px rgba(154, 169, 185, 0.35);
                max-width: 250px;
                width: 100%;
                height: 80px;
                resize: none;
            }
        }
        &.custom-checkbox {
            @include flex(row, nowrap, center, center);
            label {
                font-size: 14px;
                font-family: "Circe";
                color: rgb(107, 104, 99);
                line-height: 2;
                text-align: left;
            }
        }
        button {
            font-size: 12px;
            font-family: "Circe";
            color: rgb(37, 37, 45);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 3;
            border-radius: 10px;
            background-color: rgb(247, 186, 108);
            box-shadow: 0px 4px 0px 0px rgb(186, 158, 120);
            width: 100%;
            max-width: 218px;
            height: 52px;
            border: none;
            &.disabled {
                pointer-events: none;
                background: ghostwhite;
                box-shadow: 0px 4px 0px 0px ghostwhite;
            }
        }
    }
    br {
        margin: 0;
    }
}
.modal {
    z-index: 1000001 !important;
}
.swal2-container {
    z-index: 1000002 !important;
}
