// body, body *, body:hover, body *:hover {
// 	cursor:none;
// }
// .cursor-wrapper {
// 	position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     pointer-events: none;
//     z-index: 1;
//     mix-blend-mode: color-dodge;
//     transition: opacity .6s cubic-bezier(.165,.84,.44,1);
// }
// .cursor-follower {
//     position: fixed;
//     top: -20px;
//     left: -20px;
//     width: 40px;
//     height: 40px;
//     pointer-events: none;
//     transform: translate(50vw,50vh);
//     will-change: transform,opacity;
//     transition: opacity 1.2s cubic-bezier(.47,0,.745,.715);
// 	border-radius: 50%;
// 	border: 1.5px solid red;
//     transition: transform .1s ease-out, opacity .6s cubic-bezier(.165,.84,.44,1), width .2s ease, height .2s ease, top .2s ease, left .2s ease, border .2s ease;
// }
// .cursor {
// 	position: fixed;
//     top: -5px;
//     left: -5px;
//     width: 10px;
//     height: 10px;
//     pointer-events: none;
//     transform: translate(50vw,50vh);
//     will-change: transform;
//     mix-blend-mode: color-dodge;
//     transition: opacity .6s cubic-bezier(.165,.84,.44,1), background .3s ease;
// 	background-color: rgb(255, 255, 255);
// 	border-radius: 50%;
//     border: 1px solid #fff;
// }
* {
    font-family: "Circe" !important;
}
#modal {
    .modal-dialog {
        max-width: 458px;
        .modal-body {
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 9px 18px 0px rgba(135, 138, 141, 0.21);
            padding: 1rem 2rem;
            .nav-tabs .nav-link {
                flex: 0 0 49%;
                @include flex(row, wrap, center, center);
                font-size: 24px;
                font-family: "Circe";
                color: rgb(21, 21, 21);
                font-weight: bold;
                line-height: 1;
                text-align: left;
                border: none;
                padding: 1rem 2rem;
                margin: auto;
            }
        }
        .nav-tabs .nav-link.active,
        .nav-tabs .nav-item.show .nav-link {
            background-color: rgb(247, 186, 108);
        }
        .nav-tabs {
            border-bottom: 1px solid rgb(186, 158, 120);
            @include flex(row, wrap, center, flex-start);
        }
        .nav-tabs .nav-link:hover,
        .nav-tabs .nav-link:focus {
            border-color: unset;
        }
        .nav-tabs .nav-item {
            margin-bottom: 0;
        }
    }
    .tab-content {
        margin-top: 2rem;
    }
    .tab-pane {
        .form-group {
            label {
                @include flex(row, wrap, center, space-between);
                margin-bottom: 0;
                span {
                    font-size: 16px;
                    font-family: "Circe";
                    color: rgb(18, 18, 18);
                    font-weight: 600;
                    line-height: 3.75;
                    text-align: left;
                }
                input {
                    font-size: 16px;
                    font-family: "Circe";
                    color: rgb(18, 18, 18);
                    line-height: 3.75;
                    text-align: left;
                    padding: 0 1rem;
                    border-radius: 10px;
                    background-color: rgb(241, 247, 252);
                    box-shadow: inset 0px 1px 6px 0px rgba(154, 169, 185, 0.35);
                    max-width: 250px;
                    width: 100%;
                    height: 55px;
                }
            }
            &.custom-checkbox {
                @include flex(row, nowrap, center, center);
                label {
                    font-size: 14px;
                    font-family: "Circe";
                    color: rgb(107, 104, 99);
                    line-height: 2;
                    text-align: left;
                }
            }
            button {
                font-size: 12px;
                font-family: "Circe";
                color: rgb(37, 37, 45);
                font-weight: bold;
                text-transform: uppercase;
                line-height: 3;
                border-radius: 10px;
                background-color: rgb(247, 186, 108);
                box-shadow: 0px 4px 0px 0px rgb(186, 158, 120);
                width: 100%;
                max-width: 218px;
                height: 52px;
                border: none;
                &.disabled {
                    pointer-events: none;
                    background: ghostwhite;
                    box-shadow: 0px 4px 0px 0px ghostwhite;
                }
            }
        }
    }
}

html {
    scroll-behavior: smooth;
}
body * {
    &::selection {
        background: #f7ba6c;
    }
    &::-moz-selection {
        background: #f7ba6c;
    }
}
body {
    overflow-x: hidden;
    cursor: url("../svgs/mouse-pointer.svg") 2 2, default;
}
a,
button,
.prev-btn,
.next-btn,
#play-btn svg {
    cursor: url("../svgs/hand-pointer.svg") 2 2, pointer !important;
}
input,
textarea {
    cursor: url("../svgs/i-cursor.svg") 2 2, text !important;
}
.hc-offcanvas-nav {
    z-index: 1000000 !important;
}
.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
    background-color: rgb(18, 18, 18) !important;
}
.hc-offcanvas-nav a,
.hc-offcanvas-nav .nav-item {
    @include text(
        Circe!important,
        16px!important,
        1.5!important,
        400,
        rgb(255, 255, 255)
    );
    border-bottom: 1px solid #f7ba6c !important;
}
.hc-offcanvas-nav
    ul:first-of-type:not(:first-child)
    > li:first-child:not(.nav-back):not(.nav-close)
    > a {
    border-top: 1px solid #f7ba6c !important;
}
.hc-offcanvas-nav h2 {
    @include text(
        Circe!important,
        20px!important,
        1.5!important,
        700!important,
        rgb(255, 255, 255) !important
    );
    margin: 0;
}
body.hc-nav-open {
    position: static !important;
}
.stuck {
    padding-top: 115px;
}
.header {
    background-color: rgb(18, 18, 18);
    box-shadow: 0px 19px 39.56px 6.44px rgba(0, 0, 0, 0.51);
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -ms-transform-transform: translateY(0%);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -moz-transition-transition: all 300ms ease-in-out;
    &.banner--clone {
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 1000000;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -ms-transform-transform: translateY(-100%);
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -moz-transition-transition: all 300ms ease-in-out;
    }
    &.banner--stick {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -ms-transform-transform: translateY(0%);
    }
    .logo {
        img {
            width: auto;
            max-width: 134px;
            max-height: 67px;
        }
    }
    .main-nav {
        height: 100%;
        ul {
            @include flex(row, wrap, center, space-between);
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            height: 100%;
            li {
                display: inline-block;
                overflow: hidden;
                position: relative;
                &:before,
                &:after {
                    content: "";
                    right: 0;
                    bottom: 0;
                    background: #f7ba6c;
                    position: absolute;
                    transition: transform 0.35s ease;
                }
                &:before {
                    width: 100%;
                    height: 1.5px;
                    transform: translateX(-100%);
                }
                &:after {
                    width: 1.5px;
                    height: 100%;
                    transform: translateY(100%);
                }
                &.active:before,
                &.active:after,
                &.active > a:before,
                &.active > a:after,
                &:hover:before,
                &:hover:after,
                &:hover > a:before,
                &:hover > a:after {
                    transform: translate(0, 0);
                }
                a {
                    @include text(Circe, 16px, 1.5, 400, rgb(255, 255, 255));
                    display: block;
                    padding: 3px;
                    text-decoration: none;
                    position: relative;
                    &:before,
                    &:after {
                        position: absolute;
                        transition: transform 0.35s ease;
                        content: "";
                        left: 0;
                        top: 0;
                        background: #f7ba6c;
                    }
                    &:before {
                        width: 100%;
                        height: 1.5px;
                        transform: translateX(100%);
                    }
                    &:after {
                        width: 1.5px;
                        height: 100%;
                        transform: translateY(-100%);
                    }
                }
            }
        }
    }
    .registration-btn {
        @include flex(row, wrap, center, center);
        @include text(Circe, 16px, 1.5, 400, rgb(255, 255, 255));
        border: 1px solid rgb(247, 186, 108);
        border-radius: 4px;
        background-color: rgba(247, 186, 108, 0);
        min-height: 37px;
        min-width: 167px;
        text-decoration: none;
    }
    .authorization-btn {
        @include flex(row, wrap, center, center);
        @include text(Circe, 16px, 1.5, 400, rgb(37, 37, 45));
        border-radius: 4px;
        border: 1px solid rgb(247, 186, 108);
        background-color: rgb(247, 186, 108);
        min-height: 37px;
        min-width: 71px;
        text-decoration: none;
    }
    .phone-number {
        @include text(Circe, 24px, 1, 700, rgb(255, 255, 255));
        text-decoration: none;
        white-space: nowrap;
    }
    .callback-btn {
        @include flex(row, wrap, center, center);
        @include text(Circe, 14px, 1.714, 700, rgb(255, 217, 169));
        text-decoration: none;
        padding: 0;
        white-space: nowrap;
    }
}
