@font-face {
    src: url(../fonts/Circe-Bold_0.ttf);
    font-family: Circe;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Circe-ExtraBold_0.ttf);
    font-family: Circe;
    font-weight: 800;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Circe-ExtraLight_0.ttf);
    font-family: Circe;
    font-weight: 200;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Circe-Light_0.ttf);
    font-family: Circe;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Circe-Regular_0.ttf);
    font-family: Circe;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Circe-Thin_0.ttf);
    font-family: Circe;
    font-weight: 100;
    font-style: normal;
}
@font-face {
    src: url(../fontsYesevaOne-Regular.ttf);
    font-family: YesevaOne;
    font-weight: 400;
    font-style: normal;
}